
<div class="row">
    <%= form_with(model: [:administrate, category], class: "form", id: "category-form") do |form| %>
      <div class="input-row">
        <div class="input-container">
          <%= form.label :name, class:"label" %>
          <%= form.text_field :name, disabled: (action == :show), placeholder: "Digite aqui a categoria", class:"input" %>
        </div>
      </div>

      <div>
        <%= button_to "Apagar categoria", [:administrate, @category], data: { turbo: false }, method: :delete, class: "button small" if action == :show %>
      </div>

      <%= form.submit style: "display: none;" %>

    <% end %>
  </div>
